{{#if admin_edit_category}}
<!-- admin_edit_category -->
<div class="admin_edit_category">
  <h1>
    {{#is category 'cpnyinfo'}}編輯資訊{{/is}}
    {{#is category 'position'}}編輯職缺{{/is}}
    {{#is category 'leave'}}編輯假別{{/is}}
    {{#is category 'subsidy'}}編輯補助{{/is}}
  </h1>
  <form action="" name="form">
      {{> message}}
      <div>
        <div>
          <label for="cnName">
            {{#is category 'cpnyinfo'}}資訊名稱{{/is}}
            {{#is category 'position'}}職缺名稱{{/is}}
            {{#is category 'leave'}}假別名稱{{/is}}
            {{#is category 'subsidy'}}補助名稱{{/is}}
          </label>
          <input type="text" class="form-control" name="cnName" id="cnName" placeholder="請輸入中文名稱" value="{{infoCategory.name}}" required>
        </div>

        <div>
          <label for="position_des">英文名稱</label>
          <input class="form-control" name="entity_name" id="entity_name" placeholder="請輸入英文名稱" value="{{infoCategory.entity_name}}" required>
        </div>

    </div>
    <div class="formButton">

      {{#is category 'cpnyinfo'}}<input id="cancel" type="button" class="btn btn-primary" onclick="Method.common.page('/admin_companyInfo')" value="取消">{{/is}}
      {{#is category 'position'}}<input id="cancel" type="button" class="btn btn-primary" onclick="Method.common.page('/admin_positionInfo')" value="取消">{{/is}}
      {{#is category 'leave'}}<input id="cancel" type="button" class="btn btn-primary" onclick="Method.common.page('/admin_leaveInfo')" value="取消">{{/is}}
      {{#is category 'subsidy'}}<input id="cancel" type="button" class="btn btn-primary" onclick="Method.common.page('/admin_subsidyInfo')" value="取消">{{/is}}
      <input id="save" type="submit" class="btn btn-info" data-infoid="{{infoCategory.id}}" value="儲存">
    </div>
  </form>
</div>
{{/if}}