{{#if jh_index}}
<!-- jh_index -->
<div class="jh_position">
  <h1>設定『{{cpny_name}}』小幫手使用方式</h1>
  {{> message}}
  <div id="data-panel">
      <ol>
        <li>點選左側故事流程『設定』按鈕</li>
        <li>點選『新增故事流程』按鈕</li>
        <li>設定故事名稱</li>
        <li>將滑鼠移至故事流程新增區塊，點擊使用者或機器人來新增步驟</li>
        <li>輸入使用者對話和新增例句</li>
        <li>新增完故事流程後，請點選上方『執行訓練』按鈕來訓練機器人，可將故事流程一次性新增完畢，一次訓練即可</li>
        <li>待畫面出現『訓練完成』，可點選畫面右下方藍色按鈕，可與機器人進行對話、測試</li>
      </ol>
  </div>
</div>
{{/if}}