{{#if jh_new_simple_story}}
<!-- jh_new_story -->
<div class="jh_new_simple_story">

  <div id="title-container">
    <div id="storyTitle" class="form-control" data-event="blur"></div>
    <div id="tittleBtn" style="opacity: 0;transition: opacity .1s ease-in-out;">
      <button id="storyTitleEdit" class="btn btn-success" type="button" disabled>編輯故事名稱</button>
    </div>
  </div>
  {{> message}}
  
  <div>
    <div id="data-panel">

      <label for="stories">故事流程(simple)</label>
      <div id="stories">
        <div id="btnDiv" style="margin-top: 10px;opacity: 0;transition: opacity .1s ease-in-out;">
          <button id="userBtn" class="btn btn-success" type="button">使用者</button>
          <button id="botBtn" class="btn btn-primary" type="button" style="margin-left: 12px;">機器人</button>
        </div>
      </div>

    </div>
  </div>

</div>
{{/if}}