<div class="row m-5">
  <div class="col-8 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">編輯預設回覆</h1>
      {{> message}}
      <form action="/defaultRes/{{result.DEFAULT_NO}}?_method=PUT" method="POST">
        <div class="modal-body">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text new-title">{{result.DEFAULT_NAME}}</span>
            </div>
            <textarea type="text" class="form-control new-des" name="DEFAULT_DES" placeholder="請輸入回覆內容...." aria-label="inputDes"
              aria-describedby="des" rows="10">{{ result.DEFAULT_DES }}</textarea>
          </div>

        </div>
        <div class="modal-footer">
          <a href="/defaultRes" class="btn btn-outline-info">取消</a>
          <button type="submit" class="btn btn-primary confirm-btn" id="confirm-create">儲存</button>
        </div>
      </form>
    </div>
  </div>
</div>