<body>
  <h1>需要訓練的客服問答功能</h1>
  <p><strong>請至Botfront新增並訓練</strong></p>
  <p>功能名稱：{{name}}</p>
  <p>功能英文名稱(entity)：{{entity_name}}</p>
  <p>點擊<a href="http://localhost:3030/users/login">連結</a>並登入進行查看!!</p>
</body>