<body>
  <h1>重設密碼</h1>
  <p>親愛的用戶 您好</p>
  <p>剛剛您使用忘記密碼功能，如果非您本人使用，請忽略此封郵件。</p>
  <p>如果您想重設密碼，請點擊下方連結進行重設!!</p>
  <p>點擊<a href="http://192.168.11.80:3030/users/resetPassword/{{email}}">重設密碼</a>進行操作!!</p>
</body>