<body>
  <h1>需要訓練的客服問答資訊</h1>
  <p><strong>請至Botfront新增並訓練</strong></p>
  <p>問題描述：{{name}}</p>
  <p>問題英文代號(entity)：{{entity_name}}</p>
  <p>點擊<a href="http://localhost:3030/users/login">連結</a>並登入進行查看!!</p>
</body>