@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

/*showbox*/
.showBox {
  position: fixed;
  display: flex !important;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  animation: fadein 0.5s both;
}
.showBox > div {
  margin: 10px;
  position: relative;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px #333;
  border-radius: 5px;
  max-width: 90%;
  z-index: 9997;
  animation: popZoomIn 0.3s;
}
.showBox > div .close {
  cursor: pointer;
  display: flex;
}
.showBox > div .close:before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  opacity: 0.6;
  font-size: 18px;
  z-index: 9997;
  background: url(/images/del.svg) center / 80% no-repeat;
  filter: invert(1);
}
.showBox > div .close:hover:before {
  opacity: 0.7;
  cursor: pointer;
}
.showBox > div > span + div {
  max-height: 500px;
  overflow: auto;
}

/* rasa-chatbot css */
.rw-conversation-container .rw-header {
  background-color: #1b5cb6 !important;
}
.rw-conversation-container .rw-client {
  background-color: #2170de !important;
}
.rw-launcher {
  background-color: #2170de !important;
}
.rw-hide-sm {
  background-color: #e91616 !important;
}
.rw-response .rw-message-text .rw-markdown p a {
  color: #2170de;
}
.rw-conversation-container .rw-messages-container .rw-replies {
  display: block;
  overflow-y: scroll;
  max-height: 10rem;
}
.rw-replies::-webkit-scrollbar {
  width: 6px;
}
.rw-replies::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}
.rw-conversation-container .rw-messages-container .rw-replies .rw-reply {
  display: block;
  text-align: center;
}
.rw-conversation-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rw-conversation-container {
  height: 80vh;
}

/* 輪播圖subtitle */
.rw-carousel-card-subtitle {
  height: 5rem;
}

.alert-danger,
.alert-warning,
.alert-success {
  font-size: 16px;
  font-weight: bold;
}

.scroll-view {
  width: auto;
  height: auto;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 6px;
}
.label-title {
  font-size: 20px;
  font-weight: bold;
  color: #111;
  padding: 1rem;
}
.label-des {
  font-size: 20px;
  font-weight: normal;
  color: #111;
  padding: 1rem;
}

.new-title,
.new-des {
  font-size: 18px;
  font-weight: normal;
  color: #111;
}

.des-text {
  font-size: 15px;
  white-space: pre-line;
  padding: 1rem;
}

.scroll-view::-webkit-scrollbar {
  width: 6px;
}
.scroll-view::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}
.main-footer {
  width: 100%;
  padding: 10px;
  position: fixed;
  bottom: 0; /* background: #020202; */
}
.footer-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 0;
  text-align: center;
  color: #666;
}
.container {
  max-width: inherit;
  padding: 20px 15px 40px;
  margin: 0 auto;
}
.item-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: #fff;
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 0px rgb(203 203 203);
  border: 1px solid #ccc;
}

.item-title,
.item-des {
  grid-column-start: 1;
  grid-column-end: 4;
}

.item-buttons {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem;
}
.home {
  display: flex;
  flex-wrap: wrap;
}

.industry-filter-wrapper,
.admin-search-wrapper,
.cs-search-wrapper {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
}

#position-block {
  position: relative;
}

.not-read-block,
.trained-block {
  font-weight: 400;
  color: #1b5cb6;
}

.not-trained-block {
  font-weight: 400;
  color: #e91616;
}
.position-detail-block {
  position: absolute;
  right: -5%;
}

.function-detail-block,
.question-detail-block {
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
}

.rw-message .rw-carousel-container,
.rw-carousel-container .rw-carousel-card {
  min-height: 200px !important;
}

.fast-spin {
  -webkit-animation: fa-spin 0.75s infinite linear;
  animation: fa-spin 0.75s infinite linear;
}

@media screen and (min-width: 800px) {
  .rw-messages-container {
    height: 100% !important;
    max-height: max-content !important;
  }
}

@media screen and (min-height: 1081px) {
  .rw-conversation-container {
    height: 50vh;
  }
}

/*-----mark-----*/

/*common*/

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "微軟正黑體";
  font-weight: inherit;
  opacity: 0;
  animation: fadein 0.5s 0.5s forwards;
  letter-spacing: 1px;
  font-size: 14px;
  color: #555;
}
body {
  background: url(/images/bg.png),
    url(/images/robot.png) -25% bottom/auto 100% no-repeat fixed,
    url(/images/bg1.png) 113% -41% no-repeat fixed,
    url(/images/bg2.png) right bottom no-repeat fixed, #f1f1f1;
}

footer {
  background: rgb(0 0 0 / 60%);
  width: 100%;
  padding: 10px;
  position: fixed;
  bottom: 0;
  color: #fff;
  line-height: 22px;
  margin-bottom: 0;
  text-align: center;
  left: 0;
  display: block;
}

::-webkit-scrollbar {
  width: 0px;
}
::placeholder {
  color: #999;
}

h1,
h2 {
  color: #666;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 3px;
  margin: 0 0 10px 0;
}

a {
  color: #00f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

select {
  outline: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

#rasaWebchatPro h4 {
  color: #fff;
  font-size: 16px;
  width: calc(100% - 120px);
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.form-control {
  background: #f9f9f9;
  padding: 10px;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 5px;
  outline: none;
}
.form-control:focus {
  border: 1px solid #aaa;
}

.footButton {
  position: sticky;
  bottom: 40px;
  margin-top: 0px;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #ccc;
  background: rgb(255 255 255 / 80%);
}
.formButton {
  margin-top: 30px;
  text-align: center;
}
.formButton > input {
  width: 120px;
  margin: 0 5px;
}

.form-control:disabled,
.form-control[readonly] {
  background: none;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0 !important;
  padding: 0 5px;
}

#create-btn,
#confirm-create {
  margin: 10px;
  font-size: 16px;
}

#loading {
  position: fixed;
  display: flex !important;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  animation: fadein 0.5s both;
}
#loading img {
  width: 70px;
  user-select: none;
}

header nav {
  padding: 10px;
  background: rgb(0 0 0 / 60%);
  width: 100%;
}
header a {
  color: #fff;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none !important;
}
header a:hover {
  color: #fff;
}
header a:first-of-type {
  width: calc(100% - 84px);
}

.menu,
.setting {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  box-shadow: 10px 10px 0px rgb(0 0 0 / 10%);
  border: 1px solid #ccc;
}

.menu {
  width: 20%;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  position: sticky;
  top: 10px;
}
.setting {
  width: calc(80% - 46px);
  background: #fff;
  padding: 24px 30px;
  border-radius: 10px;
}

.menu #train {
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  height: 45px;
}

.menu #train[disabled] {
  font-size: 0;
  text-align: center;
}
.menu #train[disabled]:before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url(/images/loading.svg) center/100% no-repeat;
  font-size: 16px;
  vertical-align: middle;
}
.menu #train[disabled]:after {
  content: "機器人訓練中";
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  margin: 0 20px 0 5px;
}

.menu > div > div {
  padding: 15px 10px;
  border-bottom: 1px solid #ccc;
}
.menu > div > div:last-of-type {
  border: none;
  padding-bottom: 5px;
}
.menu > div > div > label {
  font-size: 16px;
  vertical-align: middle;
  display: inline-block;
  margin: 0 10px 0 0;
  font-weight: bold;
}
.menu input {
  padding: 0 15px;
  height: 28px;
  font-size: 14px;
  line-height: inherit;
}

.setting label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  display: inline-block;
}

.searchBar {
  font-size: 18px;
  margin: 0 5px 10px 0;
}

.searchBar input[type="text"],
.searchBar select {
  padding: 0 10px;
  border: 1px solid #ccc;
  margin: 0 10px 0 0;
  font-size: 16px;
  height: 36px;
  vertical-align: middle;
  background: #f9f9f9;
  display: inline-block;
  width: inherit;
  border-radius: 5px;
}

#data-panel {
  margin-bottom: 10px;
  min-height: 50px;
}
#data-panel.noList:before {
  content: "查無資料";
  display: block;
  font-size: 16px;
  text-align: center;
  background: #f1f1f1;
  line-height: 48px;
  border-radius: 5px;
}
#data-panel > div {
  display: inline-block;
  background: #fff;
  box-shadow: 5px 5px 0 rgb(0 0 0 / 10%);
  margin: 5px 10px 5px 0;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  width: calc(100% / 3 - 13px);
  position: relative;
}
#data-panel > div.highlight {
  border-color: #a3dbdf;
  background: #f2feff;
}
#data-panel > div.highlight > span:first-of-type > div > span:nth-of-type(1) {
  color: #01747f;
}
#data-panel > div.highlight > span:first-of-type > div > span:nth-of-type(2) {
  color: #007c88;
}
#data-panel > div > span {
  display: inline-block;
  vertical-align: middle;
}
#data-panel > div > span:first-of-type > div > span:first-of-type {
  width: 80px;
  text-align: right;
  font-weight: bold;
  color: #135372;
}
#data-panel > div > span:nth-of-type(1) {
  width: calc(100% - 80px);
}
#data-panel > div > span:nth-of-type(2) {
  width: 70px;
}
#data-panel > div > span:first-of-type > div > span {
  line-height: 30px;
  height: inherit;
  width: calc(100% - 85px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}
#data-panel > div > span:nth-of-type(2) > input {
  width: 100%;
  font-size: 14px;
  margin: 5px 0;
}
#data-panel > div button {
  padding: 5px 15px;
}

#message > div {
  min-width: 300px;
}
#message .button {
  text-align: center;
  margin-top: 20px;
}
#message .button button {
  width: calc(100% / 2 - 10px);
  margin: 0 5px;
}

#message h1,
#message h2,
#message h3 {
  text-align: center;
}

/*login*/
.login header {
  display: none;
}
.login .container {
  max-width: calc(100% - 20px);
  height: calc(100% - 42px);
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.login .container > div {
  overflow: auto;
  max-height: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px 0px rgb(0 0 0 / 10%);
  border: 1px solid #ccc;
  opacity: 0;
  animation: fadein 0.5s forwards;
}

.login #rePassword input {
  margin: 20px 0 0;
}

/*signin*/
.signin {
  width: 400px;
  max-width: 100%;
}
.signin h1 {
  font-size: 74px;
  margin-bottom: 18px;
  text-transform: initial;
  color: #1f9bcf;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 5px 5px 0 #e5e3e3;
  font-weight: inherit;
  text-align: center;
  margin-top: 0;
}
.signin #resetModal button > span {
  font-size: 30px;
  font-weight: inherit;
}
.signin .account {
  font-size: 16px;
  margin: 20px 0 0;
  text-align: center;
}
.signin input {
  margin: 25px 0;
}

.signin #submit,
.signin #forget {
  width: calc(50% - 3px);
  letter-spacing: 1px;
}

/*forget*/
#forgetBox h1 {
  text-align: center;
}
#forgetBox .content {
  width: 300px;
}
#forgetBox input {
  margin: 20px 0;
}
#forgetBox button {
  width: 100%;
  font-weight: inherit;
  font-size: 16px;
  letter-spacing: 1px;
}
#forgetBox h5 {
  line-height: 24px;
  margin: 0;
}

/*register*/
.register {
  width: 400px;
  max-width: 100%;
}
.register header {
  display: none;
}
.register .container {
  max-width: calc(100% - 20px);
  height: calc(100% - 62px);
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.register .container > div {
  width: 400px;
  overflow: auto;
  max-height: calc(100% - 100px);
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px 0px rgb(204 204 204);
  border: 1px solid #ccc;
  margin-bottom: 60px;
}
.register .account {
  font-size: 16px;
  margin: 20px 0 0;
  text-align: center;
}
.register h1 {
  text-align: center;
}
.register input {
  margin: 20px 0;
}
.register #submit {
  width: 100%;
  font-weight: inherit;
  font-size: 16px;
  letter-spacing: 1px;
}
.register #add {
  width: 100%;
}

/*resetPassword*/
.resetPassword {
  width: 400px;
  max-width: 100%;
}
.resetPassword h1 {
  text-align: center;
}
.resetPassword input {
  margin: 20px 0;
}
.resetPassword #resetPwd {
  width: 100%;
}

/*index*/
.index #roleFilter {
  font-size: 18px;
  margin-bottom: 15px;
  color: #666;
  background: #f9f9f9;
}

/*adminSearch*/
.adminSearch #data-panel {
  display: flex;
  flex-wrap: wrap;
}
.adminSearch h2 + div + div {
  position: absolute;
  right: 15px;
  top: 10px;
}
.adminSearch #data-panel h2 + div > span {
  display: block;
  min-height: 90px;
}

/*admin_company*/
.admin_company #data-panel > div {
  width: calc(100% / 2 - 13px);
}
.admin_company #data-panel > div > span:nth-of-type(1) {
  width: calc(100% - 126px);
}
.admin_company #data-panel > div > span:nth-of-type(1) > div > span {
  display: inline-block;
}
.admin_company
  #data-panel
  > div
  > span:nth-of-type(1)
  > div
  > span:nth-of-type(1) {
  width: 150px;
  text-align: right;
  color: #135372;
  height: inherit;
}
.admin_company
  #data-panel
  > div
  > span:nth-of-type(1)
  > div
  > span:nth-of-type(2) {
  width: calc(100% - 155px);
}
.admin_company #data-panel > div > span:nth-of-type(2) {
  width: 120px;
}
.admin_company h2 {
  color: #d9534f;
  margin: 0 0 5px 0;
}

/*admin_new_companyInfo*/
.admin_new_companyInfo form > div > div {
  margin-bottom: 20px;
}

/*jh_position*/
.jh_position li {
  line-height: 34px;
}

/*jh_cpnyInfo*/
.jh_cpnyInfo #data-panel > div {
  width: 100%;
}
.jh_cpnyInfo
  #data-panel
  > div
  > span:first-of-type
  > div:last-of-type
  > span:first-of-type {
  vertical-align: top;
}
.jh_cpnyInfo
  #data-panel
  > div
  > span:first-of-type
  > div:last-of-type
  > span:last-of-type {
  white-space: pre-line;
  text-overflow: inherit;
  overflow: inherit;
}

/*jh_des*/
.jh_des #data-panel > div > span:nth-of-type(2) > * {
  padding: 2px 0;
  margin: 4px 0;
}

/*jh_conversations*/
.jh_conversations #data-panel > div {
  display: block;
  width: 80%;
  margin-top: 10px;
}
.jh_conversations #data-panel > div > span {
  width: 100%;
}
.jh_conversations #data-panel > div > span > p {
  font-size: 2px;
}
.jh_conversations #data-panel > .bot-block {
  left: 20%;
  background-color: #f5f5f5;
}
.jh_conversations #data-panel > .user-block {
  background-color: #f2feff;
}

/* story共用 */
.mt-10 {
  margin-top: 10px;
}
#storySpan {
  display: flex;
  flex-direction: column;
}
.nluSpan {
  padding: 5px;
  width: fit-content;
  color: #f1f1f1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nluSpan .nluText {
  padding-left: 10px;
  text-align: center;
}
#intent-span {
  background-color: #f0ad4e;
}
#intent-span.errorIntent {
  background-color: red;
}
#entities-span {
  background-color: #4bbf73;
}

/*jh_new_story*/
#title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#storyTitle {
  width: fit-content;
  max-width: 80%;
  font-size: 2em;
  font-weight: bold;
  color: #666;
  padding: 0;
  border: none;
  text-decoration: 4px solid underline #ccc;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

#tittleBtn {
  padding-left: 10px;
}

.titleDiv {
  display: flex;
}

#data-panel > #stories {
  display: block;
  width: 100%;
  height: auto;
  min-height: 150px;
}
#data-panel #storyDiv {
  width: max-content;
  max-width: 90%;
  min-width: 35rem;
  position: relative;
  display: inline-block;
  padding: 9px;
}
#data-panel #storyDiv:not(:first-child) {
  margin-top: 10px;
}
#data-panel #storyDiv .story-user {
  display: inline-block;
  width: 70%;
  background: #f9f9f9;
  flex: 1 0 auto;
  overflow: hidden;
  overflow-wrap: break-word;
}
#data-panel #storyDiv .story-bot {
  display: inline-block;
  width: 70%;
  background: #d9ffff;
  flex: 1 0 auto;
  overflow: hidden;
  overflow-wrap: break-word;
}
#data-panel #storyDiv .top-right .btn {
  line-height: 0;
  font-size: 1px;
}
#data-panel #storyDiv .res-name-input-div {
  font-weight: 400;
  font-style: normal;
  color: #ccc;
}
#data-panel #storyDiv .res-name-input-div > input {
  background-color: transparent;
  color: #cdcdcd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  padding: 0 0.2em 0 0;
  margin: 0;
  max-width: 100%;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  outline: 0;
  font-size: 0.2em;
  border: none;
}

/* jh_story */
/* .jh_story #data-panel .user-block {
  display: flex;
  flex-direction: column;
}
.jh_story #data-panel .user-block .nluSpan {
  width: max-content;
} */

/* userTextBox */
#userTextBox .nluSpan {
  padding: 4px 5px;
}
.userBoxTitle,
.textExams-span {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.textExams-span {
  padding: 0;
}
.userTextTitle {
  padding-right: 5px;
}
.userTextTitle > div {
  display: flex;
}
.userTextTitle .entity-label {
  position: relative;
}
.userTextTitle .entity-label .entity-name {
  position: absolute;
  bottom: -90%;
  left: 0;
}
.userBoxTitle .nluSpan .nluText,
#textExams-panel .nluSpan .nluText {
  padding-left: 4px;
}
.userBoxTitle .userTextTitle {
  display: flex;
}
.textExams--examples {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.textExams--examples > span:nth-child(1) {
  width: auto;
}
.textExams--examples > span:nth-child(2) {
  flex-grow: 1;
}
.textExams--examples > span:nth-child(3) {
  width: 15%;
}
.textExams--examples > span:not(:last-child) {
  padding-right: 10px;
}
.textExams--examples:first-child {
  padding-top: 10px;
}
.textExams--examples #examples-entity-text {
  display: flex;
  cursor: pointer;
  border-bottom: 2px solid #111;
}
.textExams--examples #examples-entity-text.entity-no-value {
  padding-bottom: 1.5px;
}

.textExams--examples .textExams-span > div {
  display: flex;
}
.textExams--examples .textExams-span > div[class="editing"] {
  display: none;
}
.textExams--examples .textExams-span > input[class="waiting"] {
  display: none;
}
.textExams--examples .textExams-span > input[class="editing"] {
  display: unset;
}
.textExams--examples > .textExams-span .examples-entity-label {
  position: relative;
}

.examples-entity-box {
  /* width: 200px; */
  /* padding: 20px; */
  margin-top: 5px;
  text-align: center;
  border-radius: 5px;
}
.examples-entity-box > .examples-entity-title {
  font-weight: bold;
  font-size: 1.5rem;
}
.examples-entity-box > div {
  display: flex;
  padding-top: 0.5rem;
  align-items: center;
  font-size: 1rem;
}
.examples-entity-box > div > label {
  width: 40%;
}
.examples-entity-box > div > button {
  margin-left: 5px;
}
.examples-entity-box > .entity-option-btns {
  justify-content: center;
}
.textExams--actionBtn {
  visibility: hidden;
}
.textExams--footer {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.textExams--footer #errorMessageBox {
  font-size: 16px;
  font-weight: bold;
}

.textExams--footer #errorMessageBox .errorMessageSpan {
  border-radius: 10px;
  color: #fff;
  margin: 5px;
  padding: 5px;
  background-color: red;
}

.textExams--footer > button:not(:first-child) {
  margin-left: 5px;
}
#storyDiv > #storySpan > #userInput {
  font-size: 20px;
}
#storyDiv > #storySpan > #userInput:disabled {
  cursor: pointer;
}
#storyDiv > #storySpan > #userInput:disabled:hover {
  font-weight: bold;
}
#setExamInfo h1 {
  text-align: center;
}
#setExamInfo span {
  width: 100%;
}
#setExamInfo .content > div {
  position: relative;
  width: 500px;
  min-height: 300px;
}
#setExamInfo .setExamInfo--intents {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 10px;
}
#setExamInfo .setExamInfo--entities {
  padding-top: 10px;
}
.setExamInfo--content > .setExamInfo--examText {
  font-weight: 600;
  font-size: 20px;
}
.setExamInfo--examText {
  border: 2px solid #ccc;
  padding: 5px;
}
.setExamInfo--intents > input {
  margin-top: 5px;
  font-size: 16px;
  padding: 5px;
}
.setExamInfo--intents > input:disabled:hover {
  font-weight: bold;
  cursor: pointer;
}
.setExamInfo--intents > .setExamInfo--intents_list {
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #ccc;
  border: 1px solid #111;
  border-radius: 5px;
  display: inline-block;
}
.setExamInfo--intents > .setExamInfo--intents_list {
  display: flex;
  flex-direction: column;
  z-index: 9999;
}
.setExamInfo--intents > .list--disabled {
  display: none;
}
.setExamInfo--intents_item {
  padding: 5px;
  cursor: pointer;
}
.setExamInfo--intents_item:not(:last-child) {
  border-bottom: 1px solid #111;
}
.setExamInfo--intents_list > .selected {
  background-color: rgba(79, 201, 211, 0.4);
}
.setExamInfo--intents_list > .selected::before {
  content: "\25B8";
}
.setExamInfo--intents_list > .create-intent {
  background-color: rgba(102, 201, 136, 0.4);
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.setExamInfo--intents_list > .cancel {
  background-color: rgba(187, 14, 14, 0.4);
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.setExamInfo--intents_item:hover {
  background-color: #fff;
}
.setExamInfo--intents_list > .create-intent:hover {
  background-color: rgba(102, 201, 136, 1);
}
.setExamInfo--intents_list > .cancel:hover {
  background-color: rgba(187, 14, 14, 1);
}
.setExamInfo--intents_list > .selected:hover {
  background-color: rgba(79, 201, 211, 1);
}
.setExamInfo--footer {
  margin-top: 5px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-align: end;
}
.entity--container {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
}

/* botTextBox */
#storyDiv > #storySpan > #botInput {
  font-size: 20px;
}
#storyDiv > #storySpan > #botInput:read-only {
  cursor: pointer;
}
#storyDiv > #storySpan > #botInput:read-only:hover {
  font-weight: bold;
}

/* entityBox */
#setEntityBox h1 {
  text-align: center;
}
#setEntityBox form {
  width: 400px;
}
#setEntityBox form > div {
  margin-top: 9px;
}
#setEntityBox form > div:last-child {
  text-align: right;
  padding: 4px;
}
#setEntityBox form > div > label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

/*animation*/
@keyframes fadein {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*@media*/
@media screen and (max-width: 1600px) {
  body {
    background: url(/images/bg.png),
      url(/images/robot.png) -20% bottom/auto 100% no-repeat fixed,
      url(/images/bg1.png) 120% -300px/600px no-repeat fixed,
      url(/images/bg2.png) right bottom/50% no-repeat fixed;
  }
}

@media screen and (max-width: 1100px) {
  body {
    background: url(/images/bg.png);
  }
  .menu {
    display: block;
    width: auto;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    top: 0;
    margin: 20px 0;
  }
  .menu > div {
    display: flex;
    flex-wrap: wrap;
  }
  .menu > div > div {
    width: calc(100% / 4);
    border: none;
  }
  .setting {
    display: block;
    width: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
  }
  .admin_company #data-panel > div {
    width: 100%;
  }
}

@media screen and (max-width: 1800px) {
  #data-panel > div {
    width: calc(100% / 3 - 14px);
  }
  .jh_conversations #data-panel > div {
    display: block;
    width: 80%;
  }
}

@media screen and (max-width: 1500px) {
  #data-panel > div {
    width: calc(100% / 2 - 13px);
  }
  .jh_conversations #data-panel > div {
    display: block;
    width: 80%;
  }
}

@media screen and (max-width: 1100px) {
  #data-panel > div {
    width: calc(100% - 14px);
  }
  .jh_conversations #data-panel > div {
    display: block;
    width: 80%;
  }
}

/*sa-icon*/
.sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  border-radius: 50%;
  margin: 0 auto 20px;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}

/*error*/
.sa-icon.error {
  border-color: #f27474;
  animation: animateIcon 0.5s;
}
.sa-icon.error > span {
  position: relative;
  display: block;
  animation: animateXMark 0.5s;
}

.sa-icon.error > span:before,
.sa-icon.error > span:after {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  width: 47px;
  background: #f27474;
  top: 37px;
  border-radius: 2px;
}

.sa-icon.error > span:before {
  transform: rotate(45deg);
  left: 17px;
}
.sa-icon.error > span:after {
  transform: rotate(-45deg);
  right: 17px;
}

/*success*/
.sa-icon.success {
  border-color: #a5dc86;
  animation: animateIcon 0.5s;
}
.sa-icon.success > span {
  position: relative;
  display: block;
  animation: animateXMark 0.5s;
}

.sa-icon.success > span:before,
.sa-icon.success > span:after {
  content: "";
  display: block;
  border-radius: 2px;
  position: absolute;
  background: #a5dc86;
  height: 5px;
}

.sa-icon.success > span:before {
  width: 25px;
  left: 14px;
  top: 46px;
  transform: rotate(45deg);
}
.sa-icon.success > span:after {
  width: 47px;
  right: 8px;
  top: 38px;
  transform: rotate(-45deg);
}

/*warning*/
.sa-icon.warning {
  border-color: #f8bb86;
  animation: animateIcon 0.5s;
}

.sa-icon.warning > span:before,
.sa-icon.warning > span:after {
  content: "";
  display: block;
  border-radius: 2px;
  position: absolute;
  background: #f8bb86;
  height: 5px;
}

.sa-icon.warning > span:before,
.sa-icon.warning > span:after {
  content: "";
  position: absolute;
  background-color: #f8bb86;
  display: block;
}

.sa-icon.warning > span:before {
  width: 5px;
  height: 47px;
  left: 50%;
  top: 10px;
  border-radius: 2px;
  margin-left: -2px;
}
.sa-icon.warning > span:after {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  left: 50%;
  bottom: 10px;
}

/*bootstrap*/
.alert {
  position: relative;
  padding: 12px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  line-height: 24px;
}
.alert + .alert {
  margin-top: 10px;
}
.alert + #data-panel {
  min-height: 0;
}
.alert-heading {
  color: inherit;
}
.alert-link {
  font-weight: 700;
}
.alert-dismissible {
  padding-right: 3.8125rem;
}
.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  color: inherit;
  font-size: 24px;
  height: 38px;
}
.alert-primary {
  color: #0e0e0e;
  background-color: #d1d1d1;
  border-color: #bfbfbf;
}
.alert-primary hr {
  border-top-color: #b2b2b2;
}
.alert-primary .alert-link {
  color: #000;
}
.alert-secondary {
  color: #858585;
  background-color: #fff;
  border-color: #fff;
}
.alert-secondary hr {
  border-top-color: #f2f2f2;
}
.alert-secondary .alert-link {
  color: #6c6c6c;
}
.alert-success {
  color: #27633c;
  background-color: #dbf2e3;
  border-color: #cdedd8;
}
.alert-success hr {
  border-top-color: #bae6c9;
}
.alert-success .alert-link {
  color: #193e26;
}
.alert-info {
  color: #10516c;
  background-color: #d2ebf5;
  border-color: #c0e3f2;
}
.alert-info hr {
  border-top-color: #abdaee;
}
.alert-info .alert-link {
  color: #093040;
}
.alert-warning {
  color: #7d5a29;
  background-color: #fcefdc;
  border-color: #fbe8cd;
}
.alert-warning hr {
  border-top-color: #f9ddb5;
}
.alert-warning .alert-link {
  color: #573e1c;
}
.alert-danger {
  color: #712b29;
  background-color: #f7dddc;
  border-color: #f4cfce;
}
.alert-danger hr {
  border-top-color: #efbbb9;
}
.alert-danger .alert-link {
  color: #4c1d1b;
}
.alert-light {
  color: #858585;
  background-color: #fff;
  border-color: #fff;
}
.alert-light hr {
  border-top-color: #f2f2f2;
}
.alert-light .alert-link {
  color: #6c6c6c;
}
.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}
.alert-dark hr {
  border-top-color: #b9bbbe;
}
.alert-dark .alert-link {
  color: #040505;
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  opacity: 0.75;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

button,
select {
  text-transform: none;
}

button.close {
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
  float: right;
}
button.close:before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url(/images/del.svg) center/90% no-repeat;
  vertical-align: middle;
  filter: invert(100%);
  opacity: 0.3;
}
button.close:hover:before {
  opacity: 0.7;
}

.btn {
  border-radius: 5px;
  font-size: 16px;
  white-space: nowrap;
  padding: 5px 15px;
  font-weight: inherit;
  display: inline-block;
  text-align: center;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  vertical-align: middle;
  line-height: 1.5;
  border: 1px solid transparent;
}
[class*="btn-outline-"] {
  border-width: 2px;
}
.btn:hover {
  color: #55595c;
  text-decoration: none;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(26, 26, 26, 0.25);
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #333;
  border-color: #333;
}
.btn-primary:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: #070707;
  border-color: #010101;
  box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #010101;
  border-color: #000;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
}

.btn-secondary {
  color: #1a1a1a;
  background-color: #fff;
  border-color: #fff;
}
.btn-secondary:hover {
  color: #1a1a1a;
  background-color: #ececec;
  border-color: #e6e6e6;
}
.btn-secondary.focus,
.btn-secondary:focus {
  color: #1a1a1a;
  background-color: #ececec;
  border-color: #e6e6e6;
  box-shadow: 0 0 0 0.2rem rgba(221, 221, 221, 0.5);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #1a1a1a;
  background-color: #fff;
  border-color: #fff;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #1a1a1a;
  background-color: #e6e6e6;
  border-color: #dfdfdf;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(221, 221, 221, 0.5);
}

.btn-success {
  color: #fff;
  background-color: #4bbf73;
  border-color: #4bbf73;
}
.btn-success:hover {
  color: #fff;
  background-color: #3ca861;
  border-color: #389f5c;
}

.btn-success.focus,
.btn-success:focus {
  color: #fff;
  background-color: #3ca861;
  border-color: #389f5c;
  box-shadow: 0 0 0 0.2rem rgba(102, 201, 136, 0.5);
}

.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: #4bbf73;
  border-color: #4bbf73;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #389f5c;
  border-color: #359556;
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(102, 201, 136, 0.5);
}

.btn-info {
  color: #fff;
  background-color: #1f9bcf;
  border-color: #1f9bcf;
}
.btn-info:hover {
  color: #fff;
  background-color: #1a82ae;
  border-color: #187aa3;
}

.btn-info.focus,
.btn-info:focus {
  color: #fff;
  background-color: #1a82ae;
  border-color: #187aa3;
  box-shadow: 0 0 0 0.2rem rgba(65, 170, 214, 0.5);
}

.btn-info.disabled,
.btn-info:disabled {
  color: #fff;
  background-color: #1f9bcf;
  border-color: #1f9bcf;
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #187aa3;
  border-color: #177198;
}

.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(65, 170, 214, 0.5);
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.btn-warning:hover {
  color: #fff;
  background-color: #ed9d2b;
  border-color: #ec971f;
}

.btn-warning.focus,
.btn-warning:focus {
  color: #fff;
  background-color: #ed9d2b;
  border-color: #ec971f;
  box-shadow: 0 0 0 0.2rem rgba(242, 185, 105, 0.5);
}

.btn-warning.disabled,
.btn-warning:disabled {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #ec971f;
  border-color: #ea9214;
}

.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(242, 185, 105, 0.5);
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
.btn-danger:hover {
  color: #fff;
  background-color: #d23430;
  border-color: #c9302c;
}

.btn-danger.focus,
.btn-danger:focus {
  color: #fff;
  background-color: #d23430;
  border-color: #c9302c;
  box-shadow: 0 0 0 0.2rem rgba(223, 109, 105, 0.5);
}

.btn-danger.disabled,
.btn-danger:disabled {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #c9302c;
  border-color: #bf2e29;
}

.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(223, 109, 105, 0.5);
}

.btn-light {
  color: #1a1a1a;
  background-color: #fff;
  border-color: #fff;
}
.btn-light:hover {
  color: #1a1a1a;
  background-color: #ececec;
  border-color: #e6e6e6;
}
.btn-light.focus,
.btn-light:focus {
  color: #1a1a1a;
  background-color: #ececec;
  border-color: #e6e6e6;
  box-shadow: 0 0 0 0.2rem rgba(221, 221, 221, 0.5);
}

.btn-light.disabled,
.btn-light:disabled {
  color: #1a1a1a;
  background-color: #fff;
  border-color: #fff;
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
  color: #1a1a1a;
  background-color: #e6e6e6;
  border-color: #dfdfdf;
}

.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(221, 221, 221, 0.5);
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}
.btn-dark.focus,
.btn-dark:focus {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}
.btn-dark.disabled,
.btn-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-blueGreen {
  color: #fff;
  background-color: #4fc9d3;
  border-color: #4fc9d3;
}
.btn-blueGreen:hover {
  color: #fff;
  background-color: #46b5be;
  border-color: #46b5be;
}

.btn-outline-primary {
  color: #1a1a1a;
  border-color: #1a1a1a;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(26, 26, 26, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #1a1a1a;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(26, 26, 26, 0.5);
}

.btn-outline-secondary {
  color: #fff;
  border-color: #fff;
}
.btn-outline-secondary:hover {
  color: #1a1a1a;
  background-color: #fff;
  border-color: #fff;
}

.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
  color: #fff;
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #1a1a1a;
  background-color: #fff;
  border-color: #fff;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-outline-success {
  color: #4bbf73;
  border-color: #4bbf73;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #4bbf73;
  border-color: #4bbf73;
}

.btn-outline-success.focus,
.btn-outline-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(75, 191, 115, 0.5);
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
  color: #4bbf73;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #4bbf73;
  border-color: #4bbf73;
}

.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(75, 191, 115, 0.5);
}

.btn-outline-info {
  color: #1f9bcf;
  border-color: #1f9bcf;
}
.btn-outline-info:hover {
  color: #fff;
  background-color: #1f9bcf;
  border-color: #1f9bcf;
}

.btn-outline-info.focus,
.btn-outline-info:focus {
  box-shadow: 0 0 0 0.2rem rgba(31, 155, 207, 0.5);
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
  color: #1f9bcf;
  background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled).active,
.btn-outline-info:not(:disabled):not(.disabled):active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #1f9bcf;
  border-color: #1f9bcf;
}

.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(31, 155, 207, 0.5);
}

.btn-outline-warning {
  color: #f0ad4e;
  border-color: #f0ad4e;
}
.btn-outline-warning:hover {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.btn-outline-warning.focus,
.btn-outline-warning:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 173, 78, 0.5);
}

.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
  color: #f0ad4e;
  background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled).active,
.btn-outline-warning:not(:disabled):not(.disabled):active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 173, 78, 0.5);
}

.btn-outline-danger {
  color: #d9534f;
  border-color: #d9534f;
}
.btn-outline-danger:hover {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
.btn-outline-danger.focus,
.btn-outline-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(217, 83, 79, 0.5);
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
  color: #d9534f;
  background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(217, 83, 79, 0.5);
}

.btn-outline-light {
  color: #fff;
  border-color: #fff;
}
.btn-outline-light:hover {
  color: #1a1a1a;
  background-color: #fff;
  border-color: #fff;
}
.btn-outline-light.focus,
.btn-outline-light:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
  color: #fff;
  background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show > .btn-outline-light.dropdown-toggle {
  color: #1a1a1a;
  background-color: #fff;
  border-color: #fff;
}

.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-outline-dark {
  color: #343a40;
  border-color: #343a40;
}
.btn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark.focus,
.btn-outline-dark:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
  color: #343a40;
  background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-link {
  font-weight: 400;
  color: #1a1a1a;
  text-decoration: none;
}
.btn-link:hover {
  color: #000;
  text-decoration: underline;
}
.btn-link.focus,
.btn-link:focus {
  text-decoration: underline;
}
.btn-link.disabled,
.btn-link:disabled {
  color: #919aa1;
  pointer-events: none;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 2rem 2rem;
  font-size: 1.09375rem;
  line-height: 1.5;
  border-radius: 0;
}
.btn-group-sm > .btn,
.btn-sm {
  padding: 0.5rem 1rem;
  font-size: 0.765625rem;
  line-height: 1.5;
  border-radius: 0;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 0.5rem;
}

@keyframes animateIcon {
  0% {
    transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  50% {
    transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  80% {
    transform: scale(1.15);
    margin-top: -6px;
  }
  100% {
    transform: scale(1);
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes popZoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

#userTextBox .content {
  height: 90vh;
}

#userTextBox .content .userBoxTitle #entity-text {
  display: flex;
}

#userTextBox .userTextExam {
  height: calc(100% - 30px);
}

#userTextBox #textExams-panel {
  height: calc(100% - 100px);
  overflow: auto;
}

#userTextBox
  #textExams-panel
  .textExams--examples
  .textExams-span
  #textExams-div
  .examples-entity-label
  div
  + .examples-entity-box {
  display: none;
}

#entityShowBox .content {
  height: fit-content;
  text-align: center;
  padding: 10px;
}

.showBox#entityShowBox > div:first-child {
  width: 25%;
}

#entityShowBox .content #entity-value-addBtn {
  margin-top: 15px;
}
